
            h1 {
                margin-bottom:15px;
                font-size:60px;
                color: hotpink;
                font-align: center;
                text-decoration: underline;
                background-color: gray;
                text-transfers: lowercase;
            }
            .bigBlue {
                background-color:maroon;
            }
            h2 {
             margin-top: 20px;
             margin-bottom: 20px;
             font-size:45px;
             text-align: center;   
            }
            h3 {
                margin-top: 20px;
                font size: size 20px;
                text-align: center;
            }
            img {
                margin-left: auto;
                margin-right: auto;
                display: block;
            }
            p {
                text-align: center;
                font-size: 15px;
                font-weight: bold;
            }
            ul {
                text-align: center;
                font-size: 35px;
                border-style: slanted;
                border-width: 8px;
                list-style-position: inside;
            }
        